<!-- src/layouts/main.twig -->
{% extends 'base.twig' %}

{% block base_content %}
  <main class="h-screen flex items-center justify-center">
    {% block content %}{% endblock %}
  </main>
{% endblock %}